.projects-container {
  max-width: 52rem;
  padding: 0 1rem;
  margin: 5rem auto;
}

.projects-labels {
  padding-right: 1rem;
}

.projects-result {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0rem;
  margin: 1.5rem 0rem 0rem;
  border: 1px solid rgb(229, 227, 221);
}

.projects-result-item {
  display: block;
  border-bottom: 1px solid rgb(245, 244, 242);
  padding: 1.5rem;
  text-decoration: none;
}

.projects-result-item:hover .result-item-name {
  text-decoration: underline;
}

.result-item-container {
  flex-grow: 2;
  margin-left: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  line-height: 1.5 !important;
}

.result-item-name {
  border-radius: 4px;
  color: rgb(36, 30, 18);
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: bottom;
  font-size: 1rem !important;
}

.result-item-link {
  color: rgb(36, 30, 18);
  margin-top: 0.25rem;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
}

.result-item-description {
  color: rgb(112, 108, 100);
  margin-top: 1rem;
  font-weight: 400 !important;
  font-size: 0.875rem !important;

  word-wrap: break-word;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.6em; /* Fallback for non-webkit, line-height * 2 */
  line-height: 1.3em;
  -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-item-subscribers {
  color: rgb(36, 30, 18);
  text-align: center;
  font-weight: 700 !important;
  font-size: 0.875rem !important;
}

.result-item-subscribers + div {
  text-align: center;
  color: rgb(177, 172, 163);
  font-weight: 700 !important;
  font-size: 0.7rem !important;
  text-transform: capitalize;
}

.search-result-empty > img {
  display: block;
  margin: auto;
  width: 20rem;
}

.search-result-empty > div {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;

  word-wrap: break-word;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.6em; /* Fallback for non-webkit, line-height * 2 */
  line-height: 1.3em;
  -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-searching {
  height: 3rem !important;
  width: 3rem !important;
  margin: 10rem auto !important;
}

.pagination-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.pagination-container > div {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 400px;
  max-width: 400px;
}

.disabled-page {
  color: rgb(112, 108, 100);
  margin: 0px;
  position: relative;
  font-weight: 700 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

.active-page {
  border-radius: 4px;
  color: var(--primary-color) !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  text-decoration: underline !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

@media screen and (min-width: 48rem) {
  .result-item-name,
  .search-result-empty > div {
    font-size: 1.25rem !important;
  }

  .result-item-subscribers {
    font-size: 1.5rem !important;
  }

  .projects-result-item .MuiAvatar-root {
    width: 7rem !important;
    height: 7rem !important;
  }

  .result-item-link {
    font-size: 1rem !important;
  }

  .search-result-empty > img {
    width: 30rem;
  }

  .project-searching {
    height: 6rem !important;
    width: 6rem !important;
    margin: 12rem auto !important;
  }
}
